.DS_Store
.env
.flaskenv
*.pyc
*.pyo
*.vscode
env/
env*
venv/
venv*
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
__pycache__/

# Scrapy stuff:
.scrapy

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover